[project]
name = "cartellino-notify"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "dotenv>=0.9.9",
    "python-telegram-bot>=22.5",
    "typer>=0.20.0",
]
