name: Build and Release APK

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  release:
    name: Build & Release APK
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --split-per-abi

      - name: Rename APKs
        run: |
          APP_NAME=$(grep -e '^name:' pubspec.yaml | awk '{print $2}' | tr -d '\r')
          VERSION=$(grep -e '^version:' pubspec.yaml | awk '{print $2}' | tr -d '\r')
          cd build/app/outputs/flutter-apk
          for file in app-*.apk; do
            new_name="${APP_NAME}-${VERSION}-${file#app-}"
            mv "$file" "$new_name"
          done

      - name: Upload APKs to Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/app/outputs/flutter-apk/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
